* {
    padding: 0;
    margin: 0;
}

.job {
    display: flex;
    flex-direction: row;
    padding: 1em;
    gap: 2em;
    align-items: center;
}

i {
    width: 20px;
    height: 50px;
    color: black;
}